<ion-item detail>
  <ion-grid>
    <ion-row class="ion-justify-content-center" [routerLink]="['/', 'products', item.product.id]">
      <ion-col size-xs="12"  size-sm="12" size-md="6">
        <ion-img [src]="item.product.imageUrl" style="height: 200px;"></ion-img>
      </ion-col>
      <ion-col size-xs="12" size-sm="12" size-md="6">
        <ion-row>
          <ion-col>
            <ion-row>
              <ion-col>
                <ion-label>
                  {{item.product.title}}
                </ion-label>
              </ion-col>
            </ion-row>
            <ion-row>
              <ion-col>
                <ion-label>
                  <small>{{item.product.category | titlecase}}</small>
                </ion-label>
              </ion-col>
            </ion-row>
            <ion-row>
              <ion-col>
                <ion-label>
                  {{ item.product.price | currency:'USD' }}
                </ion-label>
              </ion-col>
            </ion-row>
            <ion-item-divider></ion-item-divider>
          </ion-col>
        </ion-row>
      </ion-col>
    </ion-row>
    <ion-row class="ion-justify-content-end">
      <ion-col size="4" size-sm="4" size-md="2" size-lg="1" size-xl="1" class="ion-text-end">
        <ion-button color="primary" fill="outline" expand="block" [disabled]="item.quantity <= 0" (click)="removeQuantity()">
          <ion-icon name="remove-outline" slot="icon-only"></ion-icon>
        </ion-button>
      </ion-col>
      <ion-col size="4" size-sm="4" size-md="2" size-lg="1" size-xl="1" class="ion-text-center" (ionChange)="onQuantityInput($event)">
        <ion-input inputmode="numeric" min="0" [value]="item.quantity"></ion-input>
      </ion-col>
      <ion-col size="4" size-sm="4" size-md="2" size-lg="1" size-xl="1" class="ion-text-start">
        <ion-button color="primary" expand="block" (click)="addQuantity()">
          <ion-icon name="add" slot="icon-only"></ion-icon>
        </ion-button>
      </ion-col>
    </ion-row>
  </ion-grid>
</ion-item>
